    * {
  border: 5px solid rgb(102, 40, 45);
}

body {
  background: rgb(163, 216, 255);;
}

a {
  text-decoration: none;
  font-size: 10px;
  color: #d6ffaf;
  font-family: "Kdam Thmor"
}

img {
  text-align: center;
}

h1 {
  color: rgb(178, 0, 255);
  font-size: 50px;
  font-family: "Shadows Into Light"; 
  text-align: left;
  font-weight: 700;
}

p {
  color: Magenta;
  font-size: 20px;
  font-family: Fruktur;
  background-color: rgb(79, 83, 114);
  letter-spacing: 0.1em;
  text-align: center;
}

#crazy {
  color: Magenta;
  font-size: 20px;
  font-family: "Fredericka the Great";
  background-color: rgb(79, 83, 114);
  letter-spacing: 0.1em;
  text-align: center;
}