    * {
  
}

body {
  background: #d6ffaf;
}

a {
  text-decoration: none;
  font-size: 10px;
  color: #d6ffaf;
  font-family: "Kdam Thmor"
}

img {
  text-align: center;
}

h1 {
  color: Crimson;
  font-size: 50px;
  font-family: "Shadows Into Light"; 
  background-color: rgb(255, 169, 147);
  text-align: right;
  letter-spacing: 3em;
  font-weight: 700;
}

p {
  color: Magenta;
  font-size: 20px;
  font-family: Fruktur;
  background-color: rgb(79, 83, 114);
  letter-spacing: 0.1em;
  text-align: center;
}

#crazy {
  color: Magenta;
  font-size: 20px;
  font-family: "Fredericka the Great";
  background-color: rgb(79, 83, 114);
  letter-spacing: 0.1em;
  text-align: center;
}